.navbar {
  position: absolute;
  width: 90%;
  height: 7%;
  top: 0px;
  background: #343a40;
  border-radius: 6px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.homeLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-right: 2%;
}

.profileLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-self: center;
  color: rgba(255, 255, 255, 0.5);
}
