.navbar {
  position: absolute;
  z-index: 1;
  max-width: 1076px;
  width: 90%;
  height: 7%;
  top: 0px;
  background: #343a40;
  border-radius: 6px;
  align-self: center;
  display: flex;
  align-content: center;
}

.homeLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-self: center;
  color: #ffffff;
  padding-right: 4%;
  padding-left: 6%;
  text-decoration: none;
}

.profileLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-self: center;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
