.textTweet {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #cccccc;
}

.containerTweet {
  position: absolute;
  width: 56%;
  height: 24vh;

  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #282c34;
}

.tweetButton {
  position: absolute;

  background: #007bff;
  border-radius: 4px;
  right: 23%;
  bottom: 3%;
}

.tweetButtonText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.tweetButton:disabled {
  background-color: gray;
}

.errorMsgContainer {
  position: absolute;
  width: 338px;
  height: 29px;
  left: 383px;
  top: 136px;

  background: #f8d7da;
  border: 1px solid #f5c6cb;
  box-sizing: border-box;
  border-radius: 4px;
}

.errorMsgText {
  height: 0px;
  padding-left: 23px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #721c24;
}

.wrappingTextArea {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 34vh;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
