.tweetTextDisplay {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.tweetContainerPlacing {
  margin-bottom: 10px;
}

.tweetContainerDisplay {
  position: relative;
  width: 600px;
  height: 100px;
  left: 367px;
  top: 250px;
  margin-bottom: 10px;

  background: #343a40;
  border-radius: 6px;
}

.userName {
  width: 162px;
  height: 12px;
  left: 387px;
  top: 225px;
  padding-left: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #6c757d;
}

.dateStamp {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #6c757d;
  left: 440px;
  bottom: 66px;
}

.tweetText {
  position: absolute;
  left: 10px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
