.tweetContainerDisplay {
  position: relative;
  width: 56%;
  max-width: 600px;
  height: 15vh;
  left: 30.4%;
  margin-top: 1%;
  background: #343a40;
  border-radius: 6px;
}

.userName {
  position: absolute;
  width: 10%;
  height: 17%;
  padding-left: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #6c757d;
}

.dateStamp {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #6c757d;
  right: 2%;
  bottom: 69%;
}

.tweetText {
  position: absolute;
  left: 1%;
  top: 20%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .userName {
    top: 10px;
  }

  .tweetText {
    top: 40%;
    left: 5%;
  }
}
