.tweetTextDisplay {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.tweetContainerPlacing {
  margin-bottom: 10px;
}

.tweetContainerDisplay {
  position: relative;
  width: 56%;
  height: 15vh;
  left: 22%;
  margin-bottom: 10px;

  background: #343a40;
  border-radius: 6px;
}

.userName {
  width: 10%;
  height: 17%;
  padding-left: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #6c757d;
}

.dateStamp {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #6c757d;
  right: 2%;
  bottom: 70%;
}

.tweetText {
  position: absolute;
  left: 1%;
  top: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
